<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{! Makes IE support useful HTML5/CSS3 features }}
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  <title>{{meta_title}}{{#is "post, page"}} — {{@site.title}}{{/is}}</title>

  {{! Typography}}
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  {{! Styles }}
  <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}" />

  {{! JavaScript }}
  <script src="{{asset "js/vendor.js"}}"></script>

  {{! Ghost outputs important stuff with this tag }}
  {{ghost_head}}
</head>
<body class="{{body_class}}" id="body">

  {{! Everything else gets inserted here }}
  {{{body}}}

  {{! Site Footer }}
  {{> footer}}

  {{! Ghost outputs important scripts with this, including the the content for the code injection pane }}
  {{ghost_foot}}
</body>
</html>
